@import '../src/Components/componentsCommon.css';

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  //animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: rgb(167,207,255);
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-form {
  text-align: left;
}
.App-ul {
  max-width: 80%;
  position: relative;
  margin: 2.5% 15% ;
}

/* .CRF, .URF, .SSF, {
  position: relative;
  margin: 5% 25% 5% 25%;
  max-width: 75%;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
