.CRF {
  text-align: left;
  max-width: 80%;
  padding: 15px;
  border: 1px solid rgb(17, 67, 127);
  background-color: rgba(111, 176, 255, .3);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 2.5% 15% ;
}

.CRF-formgroup-clubName {
  padding: 3px;
  margin: 3px;
}